body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #005f73;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

main {
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sensor {
    background-color: #ffffff;
    margin: 20px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex-basis: calc(33% - 40px);
    text-align: center;
    transition: transform 0.3s ease;
}

.sensor:hover {
    transform: translateY(-5px);
}

.sensor h2 {
    color: #005f73;
    margin-bottom: 20px;
}

.thermometer {
    width: 80%; /* Largura relativa ao seu contêiner */
    height: 20px; /* Altura do termômetro */
    background-color: #e0e0e0; /* Cor de fundo do termômetro */
    border-radius: 10px; /* Bordas arredondadas */
    position: relative; /* Posicionamento relativo para os filhos absolutos */
    margin: 20px auto; /* Centraliza o termômetro horizontalmente */
    overflow: hidden; /* Garante que o valor do termômetro não ultrapasse os limites */
}

.thermometer-value {
    position: absolute; /* Posicionamento absoluto dentro do termômetro */
    bottom: 0; /* Alinha na parte inferior do termômetro */
    width: 0%; /* Largura inicial do valor do termômetro */
    background-color: #ff477e; /* Cor de fundo do valor do termômetro */
    border-radius: 10px; /* Bordas arredondadas */
    transition: width 0.5s ease; /* Transição suave para mudanças de largura */
}

.temperature-value {
    font-size: 2em;
    margin-top: 10px;
}

.cloud-container {
    position: relative;
    height: 150px;
    margin: 20px 0;
}

.cloud {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 90px;
    background: url('cloud.svg') no-repeat center center;
    background-size: contain;
}

.humidity-bar {
    width: 60%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

.humidity-fill {
    height: 100%;
    background-color: #0093e9;
    border-radius: 10px;
    width: 0%;
    transition: width 0.5s ease;
}

.humidity-value {
    font-size: 2em;
    margin-top: 10px;
}

@keyframes blinker {
    50% {
        background-color: #ffc107;
    }
}

.temperature-alert {
    animation: blinker 1s linear infinite;
}

.smoke-alert {
    animation: blinker 1s linear infinite;
}